# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Ecosystem-Prototype.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Admin\Desktop\Ecosystem-Prototype\.idea\.idea.Ecosystem-Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
